body{
  animation-name: background_color;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
    padding:0;
    margin:0;
    height:100vh;
    width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .startUp{
    visibility: hidden;
  font-size: 0;
  display: none;


  }

  .textE {
    animation-name: text_color;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    position: absolute;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    font-family: 'Indie Flower', cursive;
    color: #8b8b83;
  }

  @keyframes text_color {
    0%{
      opacity: 0%;
    }
    20%{
      opacity: 70%;
    }
    50%{
      opacity: 100%;
    }
    80%{
      opacity: 20%;
    }
    100%{
      opacity: 0%;
    }
  }
  
  @keyframes background_color {
    0% {
      background-color: #eeeee000;
  }

  20% {
      background-color: #eeeee0b0;

  }

  50% {
    background-color: #eeeee0;
  }

  80%{
      background-color: #eeeee043;
  }

  100% {
      background-color: #eeeee000;
  }
  }
  
  @keyframes aust{
    0%{
        display: flex;
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
  }

.ele-box{
    animation-name: aust;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
  
  .canvas{
    position: relative;
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background-color: #e6e6fa;
  }
  
  .body{
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    background-color: #919aa1;
  }
  
  .legs{
    position: absolute;
    top: 80%;
    left: 15%;
    border-radius: 30px;
    width: 70%;
    height: 20%;
    background-color: #919aa1;
  }
  
  
  .leg-gap{
    position: absolute;
    top: 80%;
    left: 45%;
    border-radius: 50px;
    width: 10%;
    height: 25%;
    background-color: #e6e6fa;
  }
  
  .tail{
    position: absolute;
    top: 32.5%;
    left: -8%;
    transform: skewX(-25deg);
    border-radius: 50px;
    width: 10%;
    height: 35%;
    background-color: #919aa1;
  }
  
  .ears{
    position: absolute;
    top: -10%;
    right: 0%;
    box-shadow: -5px 5px 0px 0px #6a747c;
    border-radius: 50%;
    width: 55%;
    height: 80%;
    background-color: #919aa1;
  }
  
  .head{
    position: absolute;
    top: 0%;
    right: -20%;
    border-radius: 50%;
    width: 55%;
    height: 65%;
    background-color: #919aa1;
  }
  
  .trunk{
    position: absolute;
    top: 25%;
    right: -25%;
    border-radius: 50%;
    width: 22%;
    height: 65%;
    background-color: #919aa1;
  }
  
  .curl{
    position: absolute;
    top: 75%;
    right: -16%;
    border-radius: 20%;
    width: 15%;
    height: 15%;
    background-color: #919aa1;
  }
  
  .eye{
    position: absolute;
    top: 35%;
    right: -5%;
    border: 1.5px solid white;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    background-color: #494d50;
  }
  
  .pupil{
    position: absolute;
    top: 10%;
    left: 15%;
    transform: rotate(25deg);
    border-radius: 50%;
    width: 40%;
    height: 50%;
    background-color: white;
  }
  
  .tusk{
    position: absolute;
    top: 90%;
    left: 45%;
    border-radius: 20%;
    width: 20%;
    height: 12%;
    background-color: white;
  }
  
  .point{
    position: absolute;
    top: 74.5%;
    right: 11%;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    background-color: white;
  }
  .elephant-anim {
    animation-name: elephant-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes elephant-anim {
    0%{
     transform: translateY(0px);
    }
    100%{
     transform: translateY(-20px);
    }
  }
  
  .trunk-anim{
    animation-name: trunk-mov;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes trunk-mov{
    0%{
    }
    100%{
      transform: translateY(-20px) skew(-5deg);
    }
  }
  
  .curl-anim{
    animation-name: curl-mov;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  @keyframes curl-mov{
    0%{
    }
    100%{
   transform: translateY(-20px) translateX(-10px) skew(-5deg);
    }
  }