
body{
    animation-name: background_color;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
      padding:0;
      margin:0;
      height:100vh;
      width:100vw;
      display:flex;
      align-items:center;
      justify-content:center;
    }
    .startUp{
      visibility: hidden;
      font-size: 0;
  display: none;

    }
    
    .textZ {
      animation-name: text_color;
      animation-duration: 3000ms;
      animation-fill-mode: forwards;
      position: absolute;
      top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px !important;
      font-family: 'Indie Flower', cursive;
      color: #838b83;
    }
  
    @keyframes text_color {
      0%{
        opacity: 0%;
      }
      20%{
        opacity: 70%;
      }
      50%{
        opacity: 100%;
      }
      80%{
        opacity: 20%;
      }
      100%{
        opacity: 0%;
      }
    }
    
    @keyframes background_color {
      0% {
          background-color: #9abfb200;
      }
    
      20% {
          background-color: #9abfb2ac;
    
      }
    
      50% {
        background-color: #9abfb2;
      }
    
      80%{
          background-color: #9abfb242;
      }
    
      100% {
          background-color: #9abfb200;
      }
    }

@keyframes aust {
    0% {
        display: flex;
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.zombie-box {
    animation-name: aust;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 55%;
}

.container {
    width: 25.5em;
    height: 25.5em;
}

.zombie {
    background-color: #cdcdc1;
    height: 32.5em;
    width: 23.75em;
    border-radius: 11.87em;
    box-shadow: inset 4.37em 0 #8b8b83;
}

.zombie:before {
    position: absolute;
    content: "";
    height: 2.5em;
    width: 2.5em;
    background-color: #4f4f4a;
    border-radius: 50%;
    top: 7.18em;
    left: 6.87em;
    box-shadow: -3.75em -2.18em 0 0.62em #fffff0, -2.5em 2.81em 0 0.31em #fffff0;
}

.brain {
    animation-name: background_color;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    height: 15em;
    width: 15em;
    background-color: #9abfb2;
    position: absolute;
    right: -3.12em;
    top: -3em;
    border-radius: 50%;
    overflow: hidden;
}

.brain:before {
    position: absolute;
    content: "";
    background-color: #f96eb3;
    height: 15.62em;
    width: 15.62em;
    border-radius: 50%;
    top: 5.62em;
    right: 4.37em;
    box-shadow: inset 9em -8.12em #d83a6f;
}

.eyes,
.eyes:before {
    position: absolute;
    height: 6.25em;
    width: 1.87em;
    background-color: #2a2d49;
    border-radius: 2.5em;
}

.eyes {
    transform: rotate(-45deg);
    top: 13.75em;
    left: 6.25em;
    box-shadow: 6.87em 6.87em #2a2d49;
}

.eyes:before {
    content: "";
    transform: rotate(90deg);
    box-shadow: 6.87em -6.87em #2a2d49;
}

.mouth {
    position: absolute;
    background-color: #2a2d49;
    height: 5em;
    width: 10.62em;
    transform: translateX(-50%);
    left: 50%;
    top: 22.5em;
    border-radius: 3.12em 3.12em 0 0;
}

.mouth:before {
    content: "";
    position: absolute;
    height: 3.43em;
    width: 7.5em;
    background-color: #f96eb3;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    border-radius: 3.43em 3.43em 0 0;
    box-shadow: inset 3.12em 0.62em #d83a6f;
}

.mouth:after {
    position: absolute;
    content: "";
    height: 2.5em;
    width: 1.875em;
    background-color: #f96eb3;
    bottom: -2.5em;
    right: 1.56em;
    border-radius: 0 0 1.56em 1.56em;
}

.ear {
    height: 7.5em;
    width: 31.25em;
    background-color: #7a7a71;
    border-radius: 6.25em;
}

.ear:before,
.ear:after {
    position: absolute;
    content: "";
    height: 1.25em;
    width: 2.5em;
    border-radius: 2.5em 2.5em 0 0;
    border: 0.9em solid #4f4f4a;
    border-bottom: none;
    top: 2.5em;
}

.ear:before {
    transform: rotate(45deg);
    left: 0.93em;
}

.ear:after {
    transform: rotate(-45deg);
    right: 0.93em;
}

@media screen and (max-width: 600px) {
    .container {
        font-size: 12px;
    }
}